body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #f0f0f0, #dcd3ff);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.slider {
  width: 300px;
  overflow: hidden;
  border-radius: 10px;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
  width: 1200px;
}
.slide {
  width: 300px;
  flex-shrink: 0;
}

img {
  width: 100%;
  display: block;
  border-radius: 10px;
}

.controls {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.control {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #ccc;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.control.active {
  background-color: #333;
}
