body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #f0f0f0, #dcd3ff);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.slider {
  width: 400px; /* Увеличиваем ширину слайдера */
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}

.slides {
  display: flex;
  transition: transform 0.5s ease; /* Плавный переход при смене слайдов */
  width: 400px; /* Ширина равна ширине видимой области слайдера */
}

.slide {
  width: 400px; /* Ширина каждого слайда, равна ширине видимой области слайдера */
  flex-shrink: 0; /* Не позволяет слайдам сжиматься */
}

img {
  width: 100%; /* Изображение масштабируется по ширине слайда */
  height: auto; /* Сохраняет пропорции изображения */
  display: block; /* Убирает пробелы под изображением */
  border-radius: 10px;
}

.controls {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.control {
  width: 20px;
  height: 20px;
  margin: 0 5px;
  background-color: #ccc;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.control.active {
  background-color: #513178;
}
